<div class="item">
    <div>Avatar URL</div>
    <div>
        <input type="url" name="avatar_url" placeholder="http:\\" value={{membro.avatar_url}}>
    </div>
</div>
<div class="item">
    <div>Nome</div>
    <div>
        <input type="text" name="name" placeholder="Nome do Instrutor" value={{membro.name}}>
    </div>
</div>
<div class="item">
    <div>Email</div>
    <div>
    <input type="email" name="email" value="{{membro.email}}">
    </div>
</div>

<div class="item">
    <div>Data de Nascimento</div>
    <div>
        <input type="date" name="data_nasc" value={{membro.data_nasc}}>
    </div>
</div>
<div class="item">
    <div>Sexo</div>

    <div>
        <span><input type="radio" name="sexo" value="M" {% if membro.sexo=="M" %} checked {% endif %}>masculino</span>
        <span><input type="radio" name="sexo" value="F" {% if membro.sexo=="F" %} checked {% endif %}>feminino</span>
    </div>
</div>

<div class="item">
<div>Tipo Sanguineo</div>
    <div>
        <select name="tipo_sangue">
            <option value="A+"
            {% if membro.tipo_sangue =="A+" %}selected{% endif %}>A+</option>
            <option value="A-"
            {% if membro.tipo_sangue =="A-" %}selected{% endif %}>A-</option>
            <option value="B+"
            {% if membro.tipo_sangue =="B+" %}selected{% endif %}>B+</option>
            <option value="B-"
            {% if membro.tipo_sangue =="B-" %}selected{% endif %}>B-</option>
            <option value="AB+"
            {% if membro.tipo_sangue =="AB+" %}selected{% endif %}>AB+</option>
            <option value="AB-"
            {% if membro.tipo_sangue =="AB-" %}selected{% endif %}>AB-</option>
            <option value="O+"
            {% if membro.tipo_sangue =="O+" %}selected{% endif %}>O+</option>
            <option value="O-"
            {% if membro.tipo_sangue =="O-" %}selected{% endif %}>O-</option>
        </select>
    </div>
</div>

<div class="item">
    <div>Peso(kg)</div>
    <div>
        <input type="number" name="peso" value="{{membro.peso}}">
    </div>
</div>

<div class="item">
    <div>Altura(cm)</div>
    <div>
        <input type="number" name="altura" value="{{membro.altura}}">
    </div>
</div>

<div class="item">
<div>Instrutor</div>
    <div>
        <select name="instrutor_id">
            {% for instrutor in instrutoresOptions %}
                <option value="{{instrutor.id}}"
                {% if membro.instrutor_id ==instrutor.id %}selected{% endif %}>
                {{instrutor.id}} - {{instrutor.name}}</option>
            {% endfor %}
        </select>
    </div>
</div>

<button type="submit">Salvar</button>