<div class="item">
    <div>Avatar URL</div>
    <div>
        <input type="url" name="avatar_url" placeholder="http:\\" value={{membro.avatar_url}}>
    </div>
</div>
<div class="item">
    <div>Instrutor</div>
    <div>
        <input type="text" name="name" placeholder="Nome do Instrutor" value={{membro.name}}>
    </div>
</div>
<div class="item">
    <div>Data de Nascimento</div>
    <div>
        <input type="date" name="data_nasc" value={{membro.dataNascHTML}}>
    </div>
</div>
<div class="item">
    <div>Sexo</div>

    <div>
        <span><input type="radio" name="sexo" value="M" {% if membro.sexo=="Masculino" %} checked {% endif %}>masculino</span>
        <span><input type="radio" name="sexo" value="F" {% if membro.sexo=="Feminino" %} checked {% endif %}>feminino</span>
    </div>
</div>
<div class="item">
    <div>Área de atuação</div>
    <div>
        <input type="text" name="servicos" placeholder="Separe por virgula os serviços prestados" value={{membro.servicos}}>
    </div>
</div>

<button type="submit">Salvar</button>