<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
        <title>Launchstore</title>
    {% endblock head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/messages.css">
    <link rel="stylesheet" href="/css/menu-accounts.css">
    <link rel="stylesheet" href="/css/session.css">
</head>
<body>
    {% include 'parts/messages.njk' %}
    {% include 'parts/header.njk' %}

    {% block content %}
    {% endblock content %}

    {% include 'parts/footer.njk' %}
    <script src="/scripts.js"></script>
</body>
</html>